[icloud]
source = imaps://YOUR_ICLOUD_EMAIL%40me.com@imap.mail.me.com:993
source-cred-cmd = security find-generic-password -a YOUR_ICLOUD_EMAIL@me.com -s aerc-icloud-imap -w
outgoing = smtps://YOUR_ICLOUD_EMAIL%40me.com@smtp.mail.me.com:465
outgoing-cred-cmd = security find-generic-password -a YOUR_ICLOUD_EMAIL@me.com -s aerc-icloud-smtp -w
from = YOUR_ICLOUD_EMAIL@me.com
default = INBOX
copy-to = Sent Messages
archive = Archive
postpone = Drafts
check-mail = 3m

[gmail]
source = imaps://YOUR_GMAIL_EMAIL%40gmail.com@imap.gmail.com:993
source-cred-cmd = security find-generic-password -a YOUR_GMAIL_EMAIL@gmail.com -s aerc-gmail-imap -w
outgoing = smtps://YOUR_GMAIL_EMAIL%40gmail.com@smtp.gmail.com:465
outgoing-cred-cmd = security find-generic-password -a YOUR_GMAIL_EMAIL@gmail.com -s aerc-gmail-smtp -w
from = YOUR_GMAIL_EMAIL@gmail.com
default = INBOX
copy-to = [Gmail]/Sent Mail
archive = [Gmail]/All Mail
postpone = [Gmail]/Drafts
check-mail = 3m
