#!/bin/zsh
alias so="source ~/.zshrc"

# Zoxide
ialias cd="z"
ialias cdi="zi"
ialias zrd="zoxide remove $1"
ialias ze="zoxide edit"
ialias zad="/bin/ls -d */ | xargs -I {} zoxide add {}"

# Unix
alias v='nvim'
alias viLe="nvim -c ':Lexplore'"
ialias vi='nvim'
alias vim='nvim'
ialias v.='nvim .'
ialias vi.='nvim .'
alias -g V='| vim -'
alias vf='nvim -c ":Telescope find_files"'
alias lp='lsof -ti'
alias rp='realpath'
alias pwdc='pwd | pbcopy'
alias psj='ps aux | grep "[j]ava"'
alias kill8080='lsof -ti:8080 | xargs kill'
ialias mdf="createDirAndFollow"
alias -g md='mkdir -p'
alias -g rd='rm -r'
alias -g rdf='rm -rf'

ialias zet='zettelkasten' # zettelkasten see zsh/plugins/custom/note.zsh

alias -g s1='sleep 1'
alias -g s2='sleep 2'
alias -g s01='sleep 0.1'
alias -g s05='sleep 0.5'
ialias -g grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'

alias -g G='| grep'
alias -g Fj='| jq .'
alias -g Fy='| yq .'
alias -g b64d='| base64 -d'
alias -g b64='| base64'

alias jf='pbpaste | jsonpp | pbcopy' # Json formatter and clipboard
alias jfp='pbpaste | jsonpp' # Json formatter and print it out

# Tools
alias gg="lazygit"
alias f="fuck"
alias python="python3"
alias pip="pip3"
alias mon="bpytop"
alias task="taskell"
alias i="idea"
alias i.="idea ."

# LSD
alias ls="lsd"
alias l="lsd -a"
alias ll="lsd -l"
alias la='lsd -a'
alias lla='lsd -la'
# Tree
alias lt='lsd --tree'
alias lt2='lsd --tree --depth 2'
alias lt3='lsd --tree --depth 3'

# TMUX
alias t="tmux new -s \$(pwd | sed 's/.*\///g')"
alias tn="tmux new -s $1"
alias ta="tmux a -t $1"
alias tl="tmux ls"
alias tk="tmux kill-session -t $1"
alias tka="tmux kill-server"

# Maven
alias m=mvnd
alias mci='mvnd clean install'
alias mcp='mvnd clean package'
alias mp='mvnd package'
alias mvv='mvnd -v'
alias mci='mvnd clean install'
alias mciT='mvnd clean install -DskipTests'
alias mciTT='mvnd clean install -Dmaven.test.skip'

# Git
alias gcapf='git commit -a --amend --no-edit && git push --force-with-lease'

# Docker
alias d='docker'
alias dp='docker ps'
alias dpa='docker ps -a'
alias dpaq='docker ps -a -q'
alias db='docker build -t'
alias dbnc='docker build --no-cache -t'
alias dr='docker run --rm'
alias drti='docker run --rm -ti'
alias drd='docker run -d'
alias ds='docker start'
alias dt='docker stop'
alias dtt='docker stop $(docker ps -q)'
alias dk='docker kill'
alias dkk='docker kill $(docker ps -q)'
alias drm='docker rm'
alias dri='docker rmi'
alias de='docker exec -ti'
alias dl='docker logs -f'
alias di='docker images'
alias dpu='docker pull'
alias dph='docker push'
alias din='docker inspect'
alias dn='docker network'
alias dc='docker-compose'
alias dcu='docker-compose up'
alias dclean='docker ps -q -a -f status=exited | xargs -r docker rm && docker images -q -f dangling=true | xargs -r docker rmi'

# Kubernetes
alias kctx="kubectx"
ialias k="kubecolor"
alias kaf='k apply -f'
alias kca='_kca(){ k "$@" --all-namespaces;  unset -f _kca; }; _kca'
alias kccc='k config current-context'
alias kcdc='k config delete-context'
alias kcgc='k config get-contexts'
alias kcn='k config set-context --current --namespace'
alias kcp='k cp'
alias kcsc='k config set-context'
alias kctx=kubectx
alias kcuc='k config use-context'
alias kdcj='k describe cronjob'
alias kdcm='k describe configmap'
alias kdd='k describe deployment'
alias kdds='k describe daemonset'
alias kdel='k delete'
alias kdelcj='k delete cronjob'
alias kdelcm='k delete configmap'
alias kdeld='k delete deployment'
alias kdelds='k delete daemonset'
alias kdelf='k delete -f'
alias kdeli='k delete ingress'
alias kdelj='k delete job'
alias kdelno='k delete node'
alias kdelns='k delete namespace'
alias kdelp='k delete pods'
alias kdelpvc='k delete pvc'
alias kdels='k delete svc'
alias kdelsa='k delete sa'
alias kdelsec='k delete secret'
alias kdelss='k delete statefulset'
alias kdi='k describe ingress'
alias kdj='k describe job'
alias kdno='k describe node'
alias kdns='k describe namespace'
alias kdp='k describe pods'
alias kdpvc='k describe pvc'
alias kdrs='k describe replicaset'
alias kds='k describe svc'
alias kdsa='k describe sa'
alias kdsec='k describe secret'
alias kdss='k describe statefulset'
alias kecj='k edit cronjob'
alias kecm='k edit configmap'
alias ked='k edit deployment'
alias keds='k edit daemonset'
alias kei='k edit ingress'
alias kej='k edit job'
alias keno='k edit node'
alias kens='k edit namespace'
alias kep='k edit pods'
alias kepvc='k edit pvc'
alias kers='k edit replicaset'
alias kes='k edit svc'
alias kess='k edit statefulset'
alias keti='k exec -t -i'
alias kga='k get all'
alias kgaa='k get all --all-namespaces'
alias kgcj='k get cronjob'
alias kgcm='k get configmaps'
alias kgcma='k get configmaps --all-namespaces'
alias kgd='k get deployment'
alias kgda='k get deployment --all-namespaces'
alias kgds='k get daemonset'
alias kgdsw='kgds --watch'
alias kgdw='kgd --watch'
alias kgdwide='kgd -o wide'
alias kgi='k get ingress'
alias kgia='k get ingress --all-namespaces'
alias kgj='k get job'
alias kgno='k get nodes'
alias kgns='k get namespaces'
alias kgp='k get pods'
alias kgpa='k get pods --all-namespaces'
alias kgpall='k get pods --all-namespaces -o wide'
alias kgpl='kgp -l'
alias kgpn='kgp -n'
alias kgpvc='k get pvc'
alias kgpvca='k get pvc --all-namespaces'
alias kgpvcw='kgpvc --watch'
alias kgpw='kgp --watch'
alias kgpwide='kgp -o wide'
alias kgrs='k get replicaset'
alias kgs='k get svc'
alias kgsa='k get svc --all-namespaces'
alias kgsec='k get secret'
alias kgseca='k get secret --all-namespaces'
alias kgss='k get statefulset'
alias kgssa='k get statefulset --all-namespaces'
alias kgssw='kgss --watch'
alias kgsswide='kgss -o wide'
alias kgsw='kgs --watch'
alias kgswide='kgs -o wide'
alias kl='k logs'
alias kl1h='k logs --since 1h'
alias kl1m='k logs --since 1m'
alias kl1s='k logs --since 1s'
alias klf='k logs -f'
alias klf1h='k logs --since 1h -f'
alias klf1m='k logs --since 1m -f'
alias klf1s='k logs --since 1s -f'
alias kpf='k port-forward'
alias krh='k rollout history'
alias krsd='k rollout status deployment'
alias krsss='k rollout status statefulset'
alias kru='k rollout undo'
alias ksd='k scale deployment'
alias ksss='k scale statefulset'

# Go
alias cobra="cobra-cli"

## completion
compctl -g "*.go" gofmt # standard go tools
compctl -g "*.go" gccgo # gccgo

# gc
for p in 5 6 8; do
  compctl -g "*.${p}" ${p}l
  compctl -g "*.go" ${p}g
done
unset p

## aliases
alias gob='go build'
alias goc='go clean'
alias god='go doc'
alias goe='go env'
alias gof='go fmt'
alias gofa='go fmt ./...'
alias gofx='go fix'
alias gog='go get'
alias goga='go get ./...'
alias goi='go install'
alias gol='go list'
alias gom='go mod'
alias gomt='go mod tidy'
alias gopa='cd $GOPATH'
alias gopb='cd $GOPATH/bin'
alias gops='cd $GOPATH/src'
alias gor='go run'
alias got='go test'
alias gota='go test ./...'
alias goto='go tool'
alias gotoc='go tool compile'
alias gotod='go tool dist'
alias gotofx='go tool fix'
alias gov='go vet'
alias gove='go version'
alias gow='go work'

# Zscaler
alias zsck="launchctl kickstart -kp system/com.zscaler.tunnel"


