#!/bin/zsh

# Unix
alias so="source ~/.zshrc"
ialias cd="z" # ZOXIDE
alias c='cat'
alias le='less -j4'
alias chex='chmod +x'
alias cpr='cp -r'
alias rr='rm -Rf'
alias mn='mv -vn'
alias txf='tar -xf'
alias ttf='tar -tf'
alias v='nvim'
ialias vi='nvim'
alias vim='nvim'
ialias v.='nvim .'
ialias vi.='nvim .'
alias uz='unzip'
alias uzl='unzip -l'
ialias tree='tree -a -I ".svn|.git|.hg|.idea"'
ialias diff='diff --color'
alias tree2='tree -L 2'
alias tree3='tree -L 3'
alias grepr='grep -r'
alias grepi='grep -i'
alias grepri='grep -ri'
alias fn='find . -name "*'
alias ff='find . -name "*.'
alias h='hash -rf'
alias sz='source ~/.zshrc'
alias hx='hexdump -C'
alias k9='kill -9'
alias k15='kill -15'
alias w1='watch -n 1'
alias rp='realpath'
alias CC='$(fc -l -n -1) | clipcopy'
alias pwdc='pwd | clipcopy'
alias psj='ps aux | grep "[j]ava"'
alias -g md='mkdir -p'
alias -g wh='which'
alias -g wt='while true; do'
alias -g s1='sleep 1'
alias -g s2='sleep 2'
alias -g s01='sleep 0.1'
alias -g s05='sleep 0.5'
ialias -g grep='grep --color=auto --exclude-dir={.bzr,CVS,.git,.hg,.svn}'
alias -g A1="| awk '{print \$1}'"
alias -g L='| less'
alias -g H='| head'
alias -g H2='| head -n 20'
alias -g G='| grep'
alias -g Gi='| grep -i'
alias -g GH='| grep HTTP'
alias -g X='| xargs -I@'
alias -g C='| clipcopy'
alias -g Fj='| jq .'
alias -g Fy='| yq .'
alias -g Fx='| xmllint --format -'
alias -g V='| vim -'
alias acd='asciidoctor'


# arguments
alias -g cpjson="-XPOST -H 'Content-Type: application/json' -d '{}'"
alias -g cptext="-XPOST -H 'Content-Type: text/plain' -d"
alias -g On="--output name"
alias -g Oj="--output json"
alias -g Oy="--output yaml"
alias -g Ow="--output wide"
alias -g Ot="--template"



# Tools
alias gg="lazygit"
alias f="fuck"
alias python="python3"
alias pip="pip3"
alias mon="bpytop"
alias task="taskell"



# LSD
alias ls="lsd"
alias l="ls -a"
alias ll="ls -l"
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias lt2='ls --tree --depth 2'
alias lt3='ls --tree --depth 3'



# TMUX
alias t="tmux"
alias ta="tmux a -t $1"
alias tls="tmux ls"
alias tn="tmux new -s $1"
alias tks="tmux kill-session -t $1"
alias tka="tmux kill-server"



# Maven
alias m=mvnd
alias mci='mvnd clean install'
alias mvv='mvnd -v'
alias mci='mvnd clean install'
alias mciT='mvnd clean install -DskipTests'
alias mciTT='mvnd clean install -Dmaven.test.skip'
alias mcd='mvnd clean deploy'
alias mcdT='mvnd clean deploy -DskipTests'
alias mcdTT='mvnd clean deploy -Dmaven.test.skip'
alias mp='mvnd package'
alias mpT='mvnd package -DskipTests'
alias mpTT='mvnd package -Dmaven.test.skip'
alias mve='mvnd verify'
alias mcv='mvnd clean verify'
alias mcve='mvnd clean verify'
alias mpld='mvnd package liberty:dev'
alias mpldT='mvnd package liberty:dev -DhotTests'
alias mcpld='mvnd clean package liberty:dev'
alias mcpldT='mvnd clean package liberty:dev -DhotTests'
alias mld='mvnd liberty:dev'
alias mldT='mvnd liberty:dev -DhotTests'
alias mcp='mvnd clean package'
alias mcpT='mvnd clean package -DskipTests'
alias mcpTT='mvnd clean package -Dmaven.test.skip'
alias mqd='mvnd compile quarkus:dev'
alias mcqd='mvnd compile quarkus:dev'
alias mccqd='mvnd clean compile quarkus:dev'
alias mit='mvnd test-compile failsafe:integration-test failsafe:verify'
alias mc='mvnd clean'
alias mct='mvnd clean test'
alias mgs='mvnd generate-sources'
alias mrr='mvnd release:prepare release:perform -DperformRelease=true -DignoreSnapshots=false'
alias mgat='mvnd io.gatling:gatling-maven-plugin:execute'



# Java
alias -g j='java'
alias -g jc='javac'
alias -g jj='java -jar'
alias -g jv='java -version'
alias -g jcv='javac -version'
alias -g jp='javap -v -l -p -c -s'



# Docker
alias dk='docker'
alias dkp='docker ps'
alias dkpa='docker ps -a'
alias dkpaq='docker ps -a -q'
alias dkb='docker build -t'
alias dkbnc='docker build --no-cache -t'
alias dkr='docker run --rm'
alias dkrti='docker run --rm -ti'
alias dkrd='docker run -d'
alias dkrp8='docker run --rm -p 8080:8080'
alias dkrp9='docker run --rm -p 9080:9080'
alias dks='docker start'
alias dkt='docker stop'
alias dktt='docker stop $(docker ps -q)'
alias dkk='docker kill'
alias dkkk='docker kill $(docker ps -q)'
alias dkrm='docker rm'
alias dkri='docker rmi'
alias dke='docker exec -ti'
alias dkl='docker logs -f'
alias dki='docker images'
alias dkpu='docker pull'
alias dkph='docker push'
alias dkin='docker inspect'
alias dkn='docker network'
alias dkc='docker-compose'
alias dkcu='docker-compose up'
alias dkclean='docker ps -q -a -f status=exited | xargs -r docker rm && docker images -q -f dangling=true | xargs -r docker rmi'


# Kubernetes
alias kctx="kubectx"
ialias k="kubecolor"
alias kaf='k apply -f'
alias kca='_kca(){ k "$@" --all-namespaces;  unset -f _kca; }; _kca'
alias kccc='k config current-context'
alias kcdc='k config delete-context'
alias kcgc='k config get-contexts'
alias kcn='k config set-context --current --namespace'
alias kcp='k cp'
alias kcsc='k config set-context'
alias kctx=kubectx
alias kcuc='k config use-context'
alias kdcj='k describe cronjob'
alias kdcm='k describe configmap'
alias kdd='k describe deployment'
alias kdds='k describe daemonset'
alias kdel='k delete'
alias kdelcj='k delete cronjob'
alias kdelcm='k delete configmap'
alias kdeld='k delete deployment'
alias kdelds='k delete daemonset'
alias kdelf='k delete -f'
alias kdeli='k delete ingress'
alias kdelj='k delete job'
alias kdelno='k delete node'
alias kdelns='k delete namespace'
alias kdelp='k delete pods'
alias kdelpvc='k delete pvc'
alias kdels='k delete svc'
alias kdelsa='k delete sa'
alias kdelsec='k delete secret'
alias kdelss='k delete statefulset'
alias kdi='k describe ingress'
alias kdj='k describe job'
alias kdno='k describe node'
alias kdns='k describe namespace'
alias kdp='k describe pods'
alias kdpvc='k describe pvc'
alias kdrs='k describe replicaset'
alias kds='k describe svc'
alias kdsa='k describe sa'
alias kdsec='k describe secret'
alias kdss='k describe statefulset'
alias kecj='k edit cronjob'
alias kecm='k edit configmap'
alias ked='k edit deployment'
alias keds='k edit daemonset'
alias kei='k edit ingress'
alias kej='k edit job'
alias keno='k edit node'
alias kens='k edit namespace'
alias kep='k edit pods'
alias kepvc='k edit pvc'
alias kers='k edit replicaset'
alias kes='k edit svc'
alias kess='k edit statefulset'
alias keti='k exec -t -i'
alias kga='k get all'
alias kgaa='k get all --all-namespaces'
alias kgcj='k get cronjob'
alias kgcm='k get configmaps'
alias kgcma='k get configmaps --all-namespaces'
alias kgd='k get deployment'
alias kgda='k get deployment --all-namespaces'
alias kgds='k get daemonset'
alias kgdsw='kgds --watch'
alias kgdw='kgd --watch'
alias kgdwide='kgd -o wide'
alias kgi='k get ingress'
alias kgia='k get ingress --all-namespaces'
alias kgj='k get job'
alias kgno='k get nodes'
alias kgns='k get namespaces'
alias kgp='k get pods'
alias kgpa='k get pods --all-namespaces'
alias kgpall='k get pods --all-namespaces -o wide'
alias kgpl='kgp -l'
alias kgpn='kgp -n'
alias kgpvc='k get pvc'
alias kgpvca='k get pvc --all-namespaces'
alias kgpvcw='kgpvc --watch'
alias kgpw='kgp --watch'
alias kgpwide='kgp -o wide'
alias kgrs='k get replicaset'
alias kgs='k get svc'
alias kgsa='k get svc --all-namespaces'
alias kgsec='k get secret'
alias kgseca='k get secret --all-namespaces'
alias kgss='k get statefulset'
alias kgssa='k get statefulset --all-namespaces'
alias kgssw='kgss --watch'
alias kgsswide='kgss -o wide'
alias kgsw='kgs --watch'
alias kgswide='kgs -o wide'
alias kl='k logs'
alias kl1h='k logs --since 1h'
alias kl1m='k logs --since 1m'
alias kl1s='k logs --since 1s'
alias klf='k logs -f'
alias klf1h='k logs --since 1h -f'
alias klf1m='k logs --since 1m -f'
alias klf1s='k logs --since 1s -f'
alias kpf='k port-forward'
alias krh='k rollout history'
alias krsd='k rollout status deployment'
alias krsss='k rollout status statefulset'
alias kru='k rollout undo'
alias ksd='k scale deployment'
alias ksss='k scale statefulset'
